.leftcontent{
    width:100%;
    background-color:;
}
.header{
    background-color:;
}
.dropdown{
    background-color:;
}
.dropdown-content{
    background-color:;
}
.dropbtn{
    background-color:;
}
.slideshow-container{
    background-color:;
}
.contentText{
    background-color:;
}
.CommentText{
    background-color:;
}