*{
    margin:0;   
    padding:0; 
}
body{
    background-color:#f2f2f2;
}
.wrapper{
    width:100%;
    max-width:900px;
    height:1500px;
    text-align: center;
    margin:0 auto;
    background-color:white;
}
.leftcontent{
    width:70%;
    float:left;
    background-color:#d9d9d9;
    border-radius:10px;
}
.rightcontent{
    width:30%;
    background-color:#e6e6e6;
    float:right;
    border-radius:10px;
}
.nyheter li, .popcat li{
    list-style-type: none;
}
.header{
    width:100%;
    height:60px;
}
 h1, p{
    font-family:fantasy;
    color:blue;
     transition: all 1s;
     -webkit-transition: all 1s;
}
h1:hover, p:hover{
    color:rgb(26, 83, 255);
}
.nav ul{
    width:100%;
    height:54px;
    list-style-type: none;
    padding:0;
    overflow:hidden; 
    background-color:blue; 
    border-radius:2px;
}
.nav li{
    width:20%;
    float:left;  
}
.btn{
    width:21%;
    margin:0 auto;
    margin-top:-8px;
}
.homebtn img{
    width:100%;
    min-width:35px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
/*.homebtn img:active{
    transform: translate(0px,2px);
    -webkit-transform: translate(0px, 2px);
}*/
li a{
    display:block;
    color:black;
    text-align:center;
    padding: 18px 16px;
    text-decoration:none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
li a:hover {
    background-color:rgb(26, 83, 255);
    color:white;
}
.mySlides{
    width:100%;
    max-width:700px;
    height:500px;
    margin:0 auto;
    margin-top:1%;
}
.leftbtn, .rightbtn{
    background-color:blue;
    color:black;
    border:10px solid blue;
    border-radius:20px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.leftbtn:hover, .rightbtn:hover{
    cursor:pointer;
    color:white;
    background-color:rgb(26, 83, 255);
    border:10px solid rgb(26, 83, 255);
}
.leftbtn{
    float:left;
    display:inline-block;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
.rightbtn{
    float:right;
    display:inline-block;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
.imges{
    width:98%;
    max-width:700px;
    margin:0 auto;
}
.mySlides{
    display:inline-block;
    width:100%
}
.contentText{
    width:78%;
    margin: 0 auto;
    margin-top:30px;
}
.contentText p {
    text-align: center;
}
.CommentText{
    margin-top:20px;
    width:90%;   
    float:left;
}
.CommentText h2{
    float:left;
}
.Submit{
    float:right;
}
.Input{
    margin:0 auto;
}
.img{
    
    width:98%;
    height:500px;
    
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  background-color:black;
  opacity:0.3;    
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
    left:0;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
    opacity:1;
}

/* Caption text */
.text {
  color: #f2f2f2;
    width:10%;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  display:block; 
  position:absolute;
  width: 20%;
  margin:0 auto;
  margin-left:1%;
  background-color:black;    
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}