*{
    margin:0;   
    padding:0; 
}
/* Importerar en ny font-family som jag kan använda i css: en*/
@font-face{
    font-family:Starjedi;
    src: url(fonts/Starjedi.ttf);
}
body{
    background-color:black;
}
/* innehåller allt utom kategori */
.wrapper{
    width:100%;
    max-width:1000px;
    text-align: center;
    margin:0 auto;
    background-color:#e67e22;
}
/* Delar upp sidan i två och innehåller sidans bildspel och beskrivande innehåll till området på vänster sida */
.leftcontent{
    width:70%;
    float:left;
    background-color:#f39c12;
    border-radius:10px;
    border:0.5px solid black;
}
/* Innehåller den högra delen av hemsidan och innehåller reklam och länkar till andra spel som finns */
.rightcontent{
    width:29%;
    background-color:#f39c12;
    float:right;
    border-radius:20px;
    padding-bottom:5px;
}
/* Namnen på spelen i kategorisidan */
.content a{
    text-align:left;
    padding: 9px 8px;
}
.nyheter li{
    list-style-type: none;
}
.header{
    margin-bottom: 10px;
    background-color:#ff9900;
    width:100%;
}
/* De flesta texterna */
 h1, p, a{
     text-decoration: none;
     color:black;
    font-family:Starjedi;
     transition: all 1s;
     -webkit-transition: all 1s;
}
/* Fixar kategoriknappen */
.dropbtn{
    background-color:#e67e22;
    color:black;
    padding: 5%;
    width:100%;
    min-width:100px;
    font-size: 3vh;
    border: none;
    -webkit-transition:all 0.5s;
    transition:all 0.5s;
}
/* kategorin på datorverisionen */
.dropdown{
    width:10%;
    display:inline;
    position:fixed;
    z-index: 1;
}
/* Kategorierna som göms  */
.dropdown-content{
    width:120%;
    min-width:120px;
    background-color:#f1c40f;
    display: none;
}
.dropdown-content li{
    border-bottom: 0.5px solid black;
}
/* För dropdown content */
.show{
    display:block;
}
/* Visar hur spellänkarna ska se ut på hemsidan */
li a, .Submit, .contentLink{
    display:block;
    color:black;
    text-align:center;
    padding: 18px 16px;
    text-decoration:none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border:none;
}
li a:hover, .Submit:hover, .dropbtn:hover, .contentLink:hover {
    background-color:#f39c12;
    color:#0d0d0d;
    cursor:pointer;
}
.gameName:hover{
    background-color:#cccccc;
    color:#0d0d0d;
    cursor:pointer;
}
/* Bildspel */
.mySlides{
    width:100%;
    max-width:700px;
    margin:0 auto;
    margin-top:1%;
}
/* innehåller text och nedladdningsknapp */
.contentText{
    width:90%;
    margin:0 auto;
    padding:30px;
}
/* innehållstexten */
.contentText p {
    text-align: center;
    font-size: 20px;
}
.contentText a{
    margin-top:10px;
}
.contentLink{
    width:30%;
    margin:0 auto;
    margin-top: 30px;
    background-color:white;
}
.img{   
    width:98%;
}
.slideshow-container {
  position: relative;
}
/* knapparna */
.prev, .next {
  cursor: pointer;
  position: absolute;
  background-color:black;
  opacity:0.3;    
  top: 50%;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
/* nästa knappen */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* "förra" knappen */
.prev{
    left:0;
}
/* mus över "nästa" eller "förra" knappen */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
    opacity:1;
}
/* Beskrivande text till bilderna */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  display:block; 
  position:absolute;
  width: 20%;
  margin:0 auto;
  margin-left:1%;
  background-color:black;    
}
/* Punkterna */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.6s ease;
}
.dot-container{
    margin-bottom: 10px;
}
/* Punkt mus över */
.active, .dot:hover {
  background-color: #717171;
}
/* till bildspelet */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
      opacity: .4;
    } 
  to {
      opacity: 1;
    }
}
@keyframes fade {
  from {
      opacity: .4;
    } 
  to {
      opacity: 1;
    }
}
/* kommentarerna */
.commentstexters{
    width:100%;
    max-width:900px;
    text-align: center;
    margin:0 auto;
    background-color:white;
}
/* lista med spel */
.GameLister{
    width:100%;
}
/* varje spel i tabellen */
.GameLister td{
    background-color:#e6e6e6;
    border-top:0.05em solid #8c8c8c;
    height:120px;
    font-family:starJedi;
    font-weight: bold;
}
/* namnen på spelen */
td a, .gameName{
    text-decoration: none;
    color:black;
    text-align: center;
    margin:0 auto;
    font-size: 20px;
    -webkit-transition: all 0.3s;
    transition:all 0.3s;
}
/* spelbilderna */
.GameLister img{
    margin-top:8px;
    margin-right:-20px;
    margin-left:-8px;
    height:80px;
    -webkit-transition: all 1.5s;
    transition: all 1.5s;
}
/* bilden när man har musen över den */
.GameLister img:hover{
  cursor: pointer;
    height:210px;
}
/* den översta delen av tabellen */
.GameRowTop td{
    height:50px;
    background-color:#e6c300;
}
/* spelraderna i dark och grey */
.dark{
    background-color:#ccad00;
}
.dark a{
    color:#d9d9d9;
}
.dark td{
    background-color:#b3b3b3;
}
.dark td a{
    color:#d9d9d9;
}
.dark .gameName .GameLink:hover{
    color:black;
}
.grey{
    background-color:white;
}
.news{
    padding:40px;
}
.last{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* spelnamnens special */
.gameName{
    width:150px;
    -webkit-transition: all 0.3s;
    transition:all 0.3s;
}
/* Dator eller mobil? */
.phoneText{
    display:none;
}
.compText{
    display:grid;
}